<div class="container cart-item col row m-2" *ngFor="let item of items">
    <div class="col">
        <img src="{{item.url}}" alt="">
    </div>
    <div class="cart-item-details col">
        <h5>{{item.name}}</h5>
        <p> {{item.price}}</p>
        <input type="number" name="amount" value="{{item.amount}}" max="10" min="0"[(ngModel)]="item.amount" (ngModelChange)="changeTotal(item.item_id,item.amount)">
        <input class="text-danger" type="submit" value="remove item" (click)="changeTotal(item.item_id,0)">
        
    </div>
</div>
<h4 class="total">Total: {{total}} SR</h4>