/* .header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 12px;
}

a {
    color: #ffffff;
} */



.navbar-brand{
    font-size: 26px;
    color: rgb(16, 136, 102);
    font-weight: 200px;

}