<!-- <div class="card h-100">
    <img src="{{product.url}}" class="card-img-top" alt="..." (click)="viewDetails(product.id)">
    <div class="card-body">
        <h5 class="card-title">{{product.name}} {{product.price}} SR</h5>
        <h5 class="card-title">{{product.price}} SR</h5>

        <form action="" (ngSubmit)="addToCart(product)">
            <input type="number" name="amount" value="1" class="m-2" [(ngModel)]="amount">
            <br>
            <input type="submit" value="Add to Cart" class="btn btn-primary  m-2">
        </form>
    </div>
</div> -->